@import 'normalize.css';
@import 'barebones.css';
@import 'fonts.css';

.selected {
  border-color:rgba(1, 65, 255, 1);
  border-width: 5px;
  border-style:solid;
}

.image_block{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}